<!DOCTYPE html>
<html>
  <head>
    <title>Aoife McDaid</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>


    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">About me</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Portfolio</a></li>
            <li><a href="#">GitHub</a></li>
            <li><a href="#">LinkedIn</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Aoife McDaid; FullStack Developer</a></li>
            <li>Test</li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div id="about_me">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h1 class="text-center">Hello, I'm Aoife :-)</h1>
            <h3 class="text-center">Graduate of <a href="#">Le Wagon, Paris</a> Coding Bootcamp, <br>ready to work as a Junior Web Developer!</h3>
            <p>First of all, my name: Aoife is pronounced "Efa" (believe it or not). It's a <a href="http://www.mumsnet.com/baby-names/most-popular-irish-baby-names">very common</a> first name in Ireland, where I come from. However, my family moved to the United States (Boston area) when I was 10, so I'm used to having my name butchered at this point! I went to Tufts University in Boston, where I studied Music and Psychology, and naturally decided to go on to teach afterwards. After teaching in Thailand and Boston for 3.5 years, my husband and I decided to move to France, where I would continue to teach English, and he would work remotely as a developer.</p>
            <p>I decided in 2015, after coming to France, that I was ready for a career change. With my husband working remotely, programming has long been, literally, close to home. </p>
            <p>I started learning to program with some great online courses including Coursera's <a href="#">Programming for Everybody</a> (Python), Code School's <a href="#">JavaScript Road Trip</a>, and lots of other courses teaching back-end and front-end skills on Code School, Codecademy and other sites. After working on some of my own personal projects including <a href="#">a site for my Dad</a>, I decided I was ready to give up my teaching job and start coding full-time.</p>
            <p>I signed up to do the bootcamp at Le Wagon for summer 2016, and loved every minute of it. My final project, coded along with two classmates, was <a href="#">Dinja</a>, a meal-delivery service, allowing you to choose recipes online and have the ingredients delivered to your door.</p>
            <p>Since finishing Le Wagon in September, I've been busy working on smaller projects while simultaneously job-hunting. One example is this little <a href="#">weight tracker app</a>.</p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
