<!DOCTYPE html>
<html>
  <head>
    <title>Aoife McDaid</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-xs-offset-4">
        <div class="name-and-title text-center">
          <h1>Aoife McDaid</h1>
          <h4>FullStack Web Developer</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <div class="big-profile-pic">
            <img src="./images/new_profile_pic.jpeg" alt="">
          </div>
        </div>
        <div class="col-xs-12 col-sm-7">
          <div class="three-circles">
            <div class="row">
              <div class="col-xs-4">
                <div class="small-circle"></div>
              </div>
              <div class="col-xs-4">
                <div class="small-circle"></div>
              </div>
              <div class="col-xs-4">
                <div class="small-circle"></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
