<!DOCTYPE html>
<html>
  <head>
    <title>Aoife McDaid</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-left">
        <a href="#">About Me</a>
        <a href="#">Portfolio</a>
        <a href="#">GitHub</a>
        <a href="#">LinkedIn</a>
      </div>
      <div class="navbar-right pull-right">
        <div class="navbar-name">
          <h4>Aoife McDaid</h4>
          <p>Junior FullStack Web Developer</p>
        </div>
      </div>
    </div>

  </body>
</html>
