<!DOCTYPE html>
<html>
  <head>
    <title>Aoife McDaid</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-xs-offset-4">
        <div class="name-and-title text-center">
          <h1>Aoife McDaid</h1>
          <h4>FullStack Web Developer</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <div class="big-profile-pic">
            <img src="./images/new_profile_pic.jpeg" alt="">
          </div>
        </div>
        <div class="col-xs-12 col-sm-7 three-circles">
          <!-- <div class="three-circles"> -->
            <div class="row">
              <div class="col-xs-12">
                <div class="intro text-center">
                  <h3><strong>Hello, I'm Aoife</strong> (pronounced "Efa").</h3><p>I'm a Ruby on Rails developer and a graduate of <a href="https://www.lewagon.com">Le Wagon</a> Coding Bootcamp. Check out my links below for more info and let me know if you'd like to work together :-)</p>
                </div>
              </div>
              <div class="col-xs-12 col-xs-offset-2 col-sm-4 col-sm-offset-0">
                <div class="small-circle">
                  <a href="./images/cv.pdf" target="_blank"><h2>CV</h2></a>
                </div>
              </div>
              <div class="col-xs-12 col-xs-offset-2 col-sm-4 col-sm-offset-0">                <div class="small-circle">
                  <a href="https://github.com/amcdaid106" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="col-xs-12 col-xs-offset-2 col-sm-4 col-sm-offset-0">
                <div class="small-circle">
                  <a href="https://fr.linkedin.com/in/aoifemcdaid
                  " target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>

          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
