body {
  background-color: #EBE5E5;
  font-family: 'Raleway', sans-serif;
}
.name-and-title {
  padding: 10px;
  margin: 20px 0 100px 0;
  background-color: #AE5461;
  width: 33%;
  border-radius: 5px;
}
.name-and-title > h1, h4 {
  /*font-size: 100%;*/
}
.big-profile-pic > img {
  border-radius: 50%;
  width: 100%;
  /*margin-bottom: 200px;*/
}
.three-circles {
  position:relative;
  transform: translateY(20%);
}
.small-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #AE5461;
  margin: 20px;
}
.small-circle > h2, i {
  position: relative;
  top: 42%;
  text-align: center;
}
.small-circle i {
  font-size: 40px;
  left: 42%;
}
